<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Bundle bundle bundle — All the indie game bundles</title>

  <link rel="alternate" type="application/rss+xml" title="Bundle bundle bundle" href="https://spreadsheets.google.com/feeds/list/0Ar35F5WUAjXedDY4R0VTS05UcWhaM081eklIclN0VFE/od6/public/basic?hl=en_US&alt=rss" />

  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="css/text.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="css/960_12_col.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8" />

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="underscore.js"></script>
  <script type="text/javascript" src="godb.js"></script>
</head>
<body>

  <div class="container_12">
    <h1 class="grid_12"><span class="a">Bundle</span> <span class="b">bundle</span> <span class="c">bundle!</span></h1>

    <p class="push_4 grid_8">
      With so many indie game bundles, how can you keep track of them all?!<br/>
      <a href="https://docs.google.com/spreadsheet/viewform?formkey=dC1tVlplZC0tc2M1cjR6cHNfeGptWmc6MQ">Submit new bundle</a> &bullet;
      <a href="https://docs.google.com/spreadsheet/ccc?key=0Ar35F5WUAjXedDY4R0VTS05UcWhaM081eklIclN0VFE">View data</a> &bullet;
      <a href="https://spreadsheets.google.com/feeds/list/0Ar35F5WUAjXedDY4R0VTS05UcWhaM081eklIclN0VFE/od6/public/basic?hl=en_US&alt=rss">RSS feed</a> &bullet;
      Powered by <a href="">GoDB</a>
    </p>

    <div id="loading" class="push_5 grid_2">
      Loading...
    </div>

    <script type="text/html" id="user_tmpl">
      <% _.each(Bundles.reverse(), function(bundle) { %>

      <h2 class="grid_12"><a href="<%- bundle.URL %>"><%- bundle.Name %></a></h2>
      <div class="grid_4 info">
        <p class="dates">
          <%- formatDate(bundle['Date from']) %> -
          <%- formatDate(bundle['Date to']) %>
          <% if (bundle['Date from'] < (new Date()) && (new Date()) < bundle['Date to']) { %>
          <span class="on-now">On now</span>
          <% } %>
        </p>
        <p class="notes"><%- bundle.Notes %></p>

        <div class="grid_2 alpha">
          <h3>Operating systems</h3>
          <ul class="oses">
            <% _.each(bundle.OS.split("\n"), function(os) {%>
            <li class="<%- os.toLowerCase() %>"><%- os %></li>
            <% }); %>
          </ul>
        </div>
        <div class="grid_2 omega">
          <h3>Download methods</h3>
          <ul class="grid_2 omega downloads">
            <% _.each(bundle.Downloads.split("\n"), function(dl) {%>
            <li class="<%- dl.toLowerCase() %>"><%- dl %></li>
            <% }); %>
          </ul>
        </div>
      </div>
      <div class="grid_8 contents">
        <ul>
          <% _.each(bundle.Games.split("\n"), function(game) {%>
          <li class="game <%- game.toLowerCase().replace(/[^a-z0-9]/g, '-') %>">
            <% if (game in game_index) { %>
              <a href="<%= game_index[game].URL %>"><%- game %></a>
            <% } else { %>
              <%- game %>
            <% } %>
          </li>
          <% }); %>
        </ul>
        <% if (bundle.Bonus) { %>
        <span class="bonus">Bonuses</span>
        <ul>
          <% _.each(bundle.Bonus.split("\n"), function(bonus) {%>
          <li><%- bonus %></li>
          <% }); %>
        </ul>
        <% } %>
      </div>
      <div class="clearfix"></div>
      <% }); %>
    </script>
  </div>


  <script type="text/javascript">
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    function formatDate(date) {
      if (!date) return "Unknown";
      return date.getDate() + " " + months[date.getMonth()] + " " + date.getFullYear();
    }

    var url = "https://docs.google.com/spreadsheet/ccc?key=0Ar35F5WUAjXedDY4R0VTS05UcWhaM081eklIclN0VFE";
    GoDB.data({Bundles: {url: url}, Games: {url: url, index: 1}}, function(err, data) {
      if (err) {
        document.getElementById("loading").innerHTML = err;
        return;
      }
      // Map the game names to their data
      data.game_index = {};
      _.each(data.Games, function(game, index) {
        data.game_index[game.Name] = game;
      });
      GoDB.template(data);
      document.getElementById("loading").style.display = "none";
    });
  </script>
</body>
</html>
